@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
  /* --font-primary: "Roboto Flex", serif; */
  /* --font-secondary: "Oswald", serif; */
  --font-secondary: "Anton", serif;
  --font-primary: "Lexend Deca", serif;
  /* --font-primary: "Montserrat", sans-serif; */

  --color-red-primary: #e5383b;
  --color-red-secondary: #a4161a;
  --color-dash-secondary: #d3d3d3;
  --color-dash-bg: #e8ecf2;
}

body {
  font-family: var(--font-primary);
}

.not-found-text {
  font-size: 12rem;
  padding: 0;
  margin: 0;
  font-family: var(--font-secondary);
  letter-spacing: 15px;
}

.bg-auth {
  background-image: url("./assets/radiant-gradient.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.blob-bg {
  background-image: url("./assets/blob.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card-bg {
  background-image: url("./assets/29620.jpg");
  background-repeat: no-repeat;
}

.card:hover {
  transform: scale(1.02);
  cursor: pointer;
}

.card:hover .play-button {
  color: red;
}

.dashboard-menu-div {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  background-color: white;
  max-width: max-content; /* Fallback for older browsers */
  max-width: fit-content;
  height: 48px;
  border-radius: 12px;
}

.dashboard-menu-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4px;
  /* height: 38px; */
  border-radius: 8px;
  padding: 6px;
}

.settings-tab li{
  border-radius: 4px;
  padding: 8px;
  cursor: pointer;
}

